/symfony3_api/build/
/phpunit.xml
/symfony3_api/var/*
!/symfony3_api/var/cache
/symfony3_api/var/cache/*
!symfony3_api/var/cache/.gitkeep
!/symfony3_api/var/logs
/symfony3_api/var/logs/*
!symfony3_api/var/logs/.gitkeep
!/symfony3_api/var/sessions
/symfony3_api/var/sessions/*
!symfony3_api/var/sessions/.gitkeep
!symfony3_api/var/SymfonyRequirements.php
/symfony3_api/vendor/*
.idea/*
.idea/workspace.xml
